<div class="fullwidth-row">
<div class="row">
	<div class="col_12">
		<footer>
			<nav class="navbar">
				<ul id="footer-menu" >
					<li class="footer-icon footer-logo"><a class="pure" routerLink="/"><img alt="footerlogo" src="images/footerlogo.png" /></a></li>
					<li><a routerLink="/#">About Us</a></li>
					<li><a routerLink="/#">Faq</a></li>
					<li><a routerLink="/#">Terms and Conditions</a></li>
					<li><a routerLink="/#">Secure Payments</a></li>
					<li><a routerLink="/#">Shipping</a></li>
					<li><a class="pure" routerLink="/">Contact</a></li>
					<div class="icons-set">
					<li class="footer-icon" ><a class="pure" routerLink="/"><img class="footer-social-icons" alt="Pinterest" src="images/icons/fic1.png" /></a></li>
					<li class="footer-icon"><a class="pure" routerLink="/"><img class="footer-social-icons" alt="Twitter" src="images/icons/fic2.png" /></a></li>
					<li class="footer-icon"><a class="pure" routerLink="/"><img class="footer-social-icons" alt="Facebook" src="images/icons/fic3.png" /></a></li>
					</div>
				</ul>
			</nav>
		</footer>
	</div>
</div>
</div>