<div class="row relativeness">
	<div class="col_12">
		<div class="responsive-menu">
		<input type="text" id="gp-search" name="search" placeholder="Search" /><a id="responsive-button" href="/#">☰</a>
		</div>
		<header>
			<nav class="navbar">
				<ul id="top-menu" >
					<li><a routerLink="/">PRODUCTS</a></li>
					<li><a routerLink="/">CAMPINGS</a></li>
					<li><a routerLink="/">SERVICES</a></li>
					<li><a routerLink="/">BRANDS</a></li>
					<li><a class="pure" routerLink="/contact">ABOUT US</a></li>
					<li><input type="text" id="gp-search" name="search" placeholder="Search" /></li>
				</ul>
			</nav>
		</header>
	</div>
</div>